
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.776); /* Black w/opacity/see-through */
  color: white;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #f1f1f1;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 25px;
  text-align: center;
}

  .bg-button {
margin: 20px 0;
}

.bg-button img {
transition: transform 0.2s ease;
}

.bg-button img:hover {
transform: scale(1.05);
}

.poop-container {
  position: center;
  display: inline-block;
  left: 500px;
}



.poop-container ul {
  text-align: right;
  margin: 10px 0;
  padding-left: 20px;
}
